<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c.%M(%L) - %m%n" />
		</layout>
	</appender>

	 <appender name="FILE"  
	  class="org.apache.log4j.RollingFileAppender">  
	  <param name="File" value="log/hostGateway.log" /> 
	  <param name="Append" value="true" /> 
	  <param name="MaxBackupIndex" value="10" />  
	  <layout class="org.apache.log4j.PatternLayout">  
	   <param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
	  </layout>  
	 </appender>  

	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.integration.samples">
		<level value="debug" />
	</logger>

    <logger name="com.systex">
		<level value="debug" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>